@media (max-width: 1200px) {
  .main-nav {
    font-size: 0.9em;
  }

  .utility {
    width: auto;
  }
  .webnified,
  .copyright {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .webnified {
    font-size: 0.8em;
    margin-top: 1em;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 40px 10px 0;
  
}
  .fold-headline {
    width: 100%;
    margin-bottom: 2em;
    line-height: 1.3em;
    font-size: 160%;
  }
  .sub-headline {
    font-size: 1em;
  }
  .form {
    padding: 20px;
    width: auto;
  
    position: absolute;
    bottom: 200px;
    margin: 0;
}
  .lead-contact {
    padding: 20px 0;
  }

  .lead-page .content {
    width: 100%;
  
    height: 440px;
}
}