@import 'font/jubilat/jubilat.css';
@import 'font/proxima-nova/proxima-nova.css';

body
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
a
{
    color: #a2a3a4;
}
a:hover
{
    text-decoration: none;

    color: #5b5b5c;
}
h1,
h2,
h3,
h4,
h5
{
    font-family: jubilat_semiboldregular, serif;
}

#quick-view-details
{
    /* height: 670px; */
    position: relative;

    display: none;

    width: 600px;
    padding: 20px;

    border-radius: 5px;
    background-color: #fff;
}
#lean_overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: #000;
}

.header
{
    padding: 150px 0 120px;

    text-align: center;

    color: #fff;
    background-image: url('../img/fold-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.fold-headline
{
    font-size: 3.42857143em;

    width: auto;
    margin: 0 auto;

    text-align: center;
}
.sub-headline
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
}
.sub-headline strong
{
    font-family: 'Proxima Nova', sans-serif;
}
.form
{
    width: 480px;
    margin: 3em auto;
    padding: 20px;
}
.input
{
    font-size: .8em;
    font-weight: lighter;

    display: block;

    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px 25px;

    border: 1px solid #aaa;
    border-radius: 5px;
}
.input:focus
{
    outline: #444749 auto 1px;
}
.fold-headline
{
    line-height: 1.2em;

    width: 100%;
    max-width: 670px;
    margin-top: 1em;
    margin-bottom: 0;
}
.lead-page .content
{
    text-align: center;
}
.input-group
{
    margin-bottom: 20px;
}
.small-headline
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: .8em;
    font-weight: 600;

    color: #878a8d;
}
.btn
{
    font-weight: 500;

    width: 100%;
    height: 50px;
    padding: 10px;

    color: #fff;
    border: none;
    border-radius: 5px;
    background: #e5a442;
}
.form-headline
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.1em;
    font-weight: 600;

    margin-top: 0;
}
.lead-contact
{
    padding: 40px;

    color: #fff;
    background-color: #444749;
}
.lead-contact p
{
    margin-top: 0;
    margin-bottom: 0;

    color: #a9abad;
}
.contact
{
    padding-bottom: 40px;
}
.footer
{
    font-size: .9em;
    font-weight: 200;

    padding: 20px;

    color: #a2a3a4;
    background-color: #444749;
}
.lead-contact .lead
{
    font-family: jubilatregular, serif;
    font-size: 1em;

    letter-spacing: .06em;
}
.webnified
{
    text-align: right;
}


.book-venue
{
    margin-top: -50px;

    border-radius: 5px;
    background-color: #fff;
}

.book-venue .input-group
{
    margin-bottom: 0;
}

.unstyled
{
    padding: 0;

    list-style: none;
}

.listing
{
    margin: 0;
    padding: 20px 0;
}
.listing .hotel-img
{
    width: 100%;
}
.listing > .list-item
{
    display: inline-block;

    height: 450px;
    padding: 20px;

    border-radius: 5px;
}
.listing > .list-item .pull-out
{
    display: none;
}
.listing > .list-item:hover
{
    background-color: #eee;
}
.listing > .list-item:hover .pull-out
{
    display: inline-block;
}
.listing  .feature-list
{
    margin: 0;
    padding: 10px 0;

    list-style: none;
}
.listing .hotel-name
{
    margin: 0;
    padding: 15px 0;
}
.listing .hotel-desc
{
    margin: 0 0 5px;

    color: #888;
}
.listing .quick-view,
.listing .select-venue
{
    font-size: .9em;

    display: inline-block;

    margin: 5px 0;
    padding: 5px 10px;

    text-decoration: none;

    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
}

.content
{
    font-size: .85em;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5
{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
}

.close-modal
{
    display: none;
}

.list-item .label,
.list-item .value
{
    font-size: .8em;

    display: inline-block;
}

.feature-list.unstyled
{
    font-size: .9em;
}

h2
{
    margin-bottom: .3em;
}


.img-gallery
{
    padding-left: 0;
}
.thumbnail
{
    padding: 15px 0;
}

.thumbnail .list
{
    margin: 0;
}

.thumbnail .list-item
{
    display: inline-block;

    width: 32%;
}

.hotel-name
{
    margin-top: 0;
}

.preview .img
{
    width: 100%;
}

.thumbnail .img
{
    width: 100%;
    margin-bottom: 5px;
}

.info
{
    padding: 20px;

    border-radius: 5px;
    background-color: #eee;
}

.paypal-logo
{
    width: 150px;
}

.customer-info, .payment-method {
    padding-top: 20px;
}

.book-event {
    padding: 40px 0 100px;
}