@import 'font/jubilat/jubilat.css';
@import 'font/proxima-nova/proxima-nova.css';

body
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
a
{
    color: #a2a3a4;
}
a:hover
{
    text-decoration: none;

    color: #5b5b5c;
}
h1,
h2,
h3,
h4,
h5
{
    font-family: jubilat_semiboldregar, serif;
}

#quick-view-details
{
    /* height: 670px; */
    position: relative;

    display: none;

    width: 600px;
    padding: 20px;

    border-radius: 5px;
    background-color: #fff;
}
#lean_overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: #000;
}

.header
{
    /* padding: 15px; */


    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 70px; */
    background-color: #EEE;
}
.fold-headline
{
    font-size: 3.42857143em;

    width: auto;
    margin: 0 auto;

    text-align: center;
}
.sub-headline
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
}
.sub-headline strong
{
    font-family: 'Proxima Nova', sans-serif;
}
.form
{
    /* width: 540px; */
    margin: 6em 0 3em;
    padding: 20px;
}
.input
{
    font-size: 1em;
    font-weight: lighter;

    display: block;

    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    padding: 10px 25px;

    border: 1px solid #aaa;
    border-radius: 5px;
}
.input:focus
{
    outline: #444749 auto 1px;
}
.fold-headline
{
    line-height: 1.2em;

    width: 100%;
    max-width: 670px;
    margin-top: 1em;
    margin-bottom: 0;
}
.lead-page .content
{
    text-align: center;
    background-image: url("../img/conference.jpg");
    height: 700;
    background-size: 100%;
}
.input-group
{
    margin-bottom: 20px;
}
.small-headline
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: .8em;
    font-weight: 600;

    color: #878a8d;
}
.btn
{
    font-weight: 500;

    width: 100%;
    height: 50px;
    padding: 10px;

    color: #fff;
    border: none;
    border-radius: 5px;
    background: #B0956C;
}
.form-headline
{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 1.1em;
    font-weight: 600;

    margin-top: 0;
}
.lead-contact
{
    padding: 40px;

    color: #fff;
    background-color: #444749;
}
.lead-contact p
{
    margin-top: 0;
    margin-bottom: 0;

    color: #a9abad;
}
.contact
{
    padding-bottom: 40px;
}
.footer
{
    font-size: .9em;
    font-weight: 200;

    padding: 20px;

    color: #a2a3a4;
    background-color: #444749;
}
.lead-contact .lead
{
    font-family: jubilatregar, serif;
    font-size: 1em;

    letter-spacing: .06em;
}
.webnified
{
    text-align: right;
}


.book-venue
{
    /* margin-top: -50px; */

    border-radius: 5px;
    background-color: #fff;
}

.book-venue .input-group
{
    margin-bottom: 0;
}

.unstyled
{
    padding: 0;

    list-style: none;
}

.listing
{
    margin: 0;
    padding: 20px 0;
    position: relative;
}
.listing .hotel-img
{
    width: 100%;
}
.listing > .list-item
{
    display: inline-block;

    padding: 10px;

    border-radius: 5px;
    overflow: hidden;
}
.listing > .list-item .pl-out
{
    display: none;
    position: absolute;
    top: 135px;
    right: 15px;
}
.listing > .list-item:hover
{
    background-color: #eee;
}
.listing > .list-item:hover .pl-out
{
    display: inline-block;
}
.listing  .feature-list
{
    margin: 0;
    padding: 10px 0;

    list-style: none;
    font-size: 0.9em;
}
.listing .hotel-name
{
    margin: 0;
    padding: 15px 0 0;
}
.listing .hotel-desc
{
    margin: 0 0 5px;

    color: #888;
}
.listing .quick-view,
.listing .select-venue
{
    font-size: .9em;

    display: inline-block;

    margin: 5px 0;
    padding: 5px 10px;

    text-decoration: none;

    color: #000;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: #fff;
}

.content
{
    font-size: .85em;
    background: #EEE;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5
{
    font-family: 'Proxima Nova', sans-serif;
    font-weight: bold;
}

.close-modal
{
    display: none;
}

.list-item .label,
.list-item .value
{
    font-size: .8em;

    display: inline-block;
}

.feature-list.unstyled
{
    font-size: .9em;
}

h2
{
    margin-bottom: .3em;
}


.img-gallery
{
    padding-left: 0;
}
.thumbnail
{
    padding: 15px 0;
}

.thumbnail .list
{
    margin: 0;
}

.thumbnail .list-item
{
    display: inline-block;

    width: 32%;
}

.hotel-name
{
    margin-top: 0;
}

.preview .img
{
    width: 100%;
}

.thumbnail .img
{
    width: 100%;
    margin-bottom: 5px;
}

.info
{
    padding: 20px;

    border-radius: 5px;
    background-color: #eee;
}

.paypal-logo
{
    width: 150px;
}

.customer-info,
.payment-method
{
    padding-top: 20px;
}

.book-event
{
    padding: 40px 0 100px;
}
.payment-method label
{
    display: inline-block;

    margin: 15px;
}

.payment-method label input
{
    margin: 0 5px;
}

.btn-proceed
{
    margin: 15px 0;
}

.offline-payment {
    padding: 40px 0;
}
.brand {
    width: 250px;
    display: inline-block;
    color: #333;
    font-size: 0.9em;
}

.logo .img {
    width: 100%;
}

.quick-links {
    font-size: 0.65em;
    color: #C2A5CB;
}

.quick-search .input {
    width: 75%;
    display: inline-block;
    height: 40px;
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;
    outline: none;
    color: #333;
    padding: 7px 10px;
    margin-bottom: 10px;
}

.quick-search .btn {
    width: 25%;
    height: 40px;
    font-size: 0.8em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0;
    vertical-align: top;
}

.utility {
    width: 400px;
    display: inline-block;
    float: right;
}

.top-header {
    padding-bottom: 20px;
    padding-top: 20px;
}

.main-nav {
    list-style: none;
    padding: 20px 20px;
    width: 100%;
    margin: 0 auto;
    background-color: #E2B776;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.nav-items {
    display: inline-block;
    padding: 10px;
}

.nav-items a {
    color: #FFFFFF;
    font-weight: bold;
}
.venue-selection-page .form {
    margin: 1em 0 0;
    padding: 0;
    background-color: #DDD;
    border-radius: 5px;
}


.input.checkbox {
    height: 15px !important;
    width: auto;
    margin: 5px;
    display: inline;
}

.label-checkbox {
    display: block;
    vertical-align: middle;
    padding-bottom: 5px;
}
.search-filter .input {
    height: 35px;
    padding: 10px 15px;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.search-filter .input-group {
    margin-bottom: 0;
}

.search-filter .input-group:last-child {
    margin-bottom: 15px;
}

.search-filter .headline {
    margin-bottom: 0;
}

.input-group .label {
    margin-bottom: 10px;
}

.venue-selection-page .content {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Alt styles */
.venue-selection-page-alt .utility {
        padding: 12px 0 !important;
}
.venue-selection-page-alt .main-nav {
    text-align: left !important;
    width: auto !important;
    padding: 10px;
}
.venue-selection-page-alt  .quick-search .input {
    margin-bottom: 0 !important;
}

.gallery-thumbnails.unstyled li {
    display: inline-block;
    padding: 5px;
    background-color: #FFF;
    margin: 5px;
}

.gallery {
    position: relative;
}

.gallery-thumbnails.unstyled {
    position: absolute;
    bottom: 0;
    left: 12px;
}

.popup {
    position: absolute;
    right: 0;
    bottom: 70px;
    background-color: #FFF;
    padding: 20px;
    border-radius: 3px;
    margin: 20px;
}

.popup-container {
    position: absolute;
    width: 300px;
    right: 0;
    bottom: 0;
}

.venue-details.btn.btn-proceed {
    /* border: 2px solid #FFF; */
    color: #FFF;
    font-weight: bold;
    width: 150px;
    float: right;
    margin: 20px;
}

.addons.unstyled li {
    display: inline-block;
    padding: 10px;
}

.addons.unstyled li.active {
    background-color: #FC9292;
    border-radius: 3px;
}