<section tabs>
    <section class="header-steps">
        <section class="row container-header">
            <section class="col-md-12">
                <section class="row">
                    <section class="col-lg-12 col-md-12">
                        <h2 class="booking-form-text">Booking Form</h2>        
                    </section>
                </section>
                
                <section class="row steps-img" 
                        steps-booking-form
                        >
                        <section>
                            <h1 ng-click="traverseBack()" form-requirements><a><-</a></h1>
                            <h1 ng-click="traverseForward()" form-requirements><a>-></a></h1>
                        </section>
                    <section class="line-hr">
                        <hr class="hr-cuz">
                    </section>
                    <section payment-rundown></section>
                    <section class="col-lg-3 col-md-3" >
                        <img ng-src="{{stepOneImage}}" alt="">  
                    </section>
                    <section class="col-lg-3 col-md-3" >
                        <img ng-src="{{stepTwoImage}}" alt="">    
                    </section>
                    <section class="col-lg-3 col-md-3" >
                        <img ng-src="{{stepThreeImage}}" alt="">    
                    </section>
                    <section class="col-lg-3 col-md-3" >
                        <img ng-src="{{stepFourImage}}" alt="">    
                    </section>
                </section>
            </section>
        </section>
        
    </section>
    
    <!-- Step 1 -->
    <section step-one></section>
    <!-- Step 2 -->
    <section step-two rooms></section>
    <!-- Step 3 -->
    <section step-three></section>
    <!-- Step 4 -->
    <section step-four></section>
    
</section>