<section header-directive></section>
<section class="venue-selection-page">
   
   <section class="content" >
      <section class="container">
         <section class="running-total">
            Site fee: <br> 
            Addons SkyEye {{skyEye | currency:"&#8369"}} GrabCar {{grabCar | currency:"&#8369"}}
            Total {{total | currency:"&#8369"}}
         </section>
         <section class="venue search-filtered">
            <section filters-panel></section>
            <section venues-panel></section>
         </section>
      </section>
   </section>
   
</section>