<section header-directive></section>
<section class="lead-page">
  <section class="content" land-page-directive>
    <section class="container">
      <form action="" class="form" name="bookingFormFirstPage" no-validate>
          <section class="form book-venue">
            <h5 class="form-headline">Find your Dream Location</h5>
            <section class="row"><section class="input-group col-lg-12" experience-directive>
              <select class="input" name="event-name" placeholder="What event are you celebrating?" id="classic-selections" ng-change="change( $index, firstPageSelection.exp )" ng-model="firstPageSelection.exp" ng-options="selection for selection in experience">
                <option value="">select experience...</option>
              </select>


            </section><section class="input-group col-lg-6">
              <select class="input" name="event-location" id="classic-selections-location" ng-change="change( $index, firstPageSelection.city_address )" ng-model="firstPageSelection.city_address" ng-options="location for location in locations">
                <option value="">select location...</option>
              </select>
            </section><section class="input-group col-lg-6">
              <input type="text" placeholder="Expected guests(e.g. 100)" name="mobile-name" ng-model="firstPageSelection.est_guest" class="input" required>
            </section></section>
            <button type="submit" class="btn" ui-sref="index.filter( {experience: firstPageSelection.exp, location: firstPageSelection.city_address, guest: firstPageSelection.est_guest} )">See My Options</button>
          </section>
      </form>
    </section>
  </section>
</section>
