<section class="side-fixed">

             <section>
                <img class="otter-img" src="img/otter-yo.png" alt="">                 
             </section>
              <section>
                  <section class="box-border">
                      <sectio class="row">
                          <section class="col-lg-12 col-md-12 header-side">
                              <p>You will be booking the amazing.</p>
                          </section>
                      </sectio>
                      <section class="row content-side">
                          <section class="col-lg-12 col-md-12">
                              <h3>{{ venue.name }}</h3>
                              <p class="capacity">Capacity: {{ venue.min_guest }} - {{ venue.max_guest }}</p>
                                

                                <section class="row">
                                    <section class="col-lg-12 col-md-12">
                                        <section class="table-center">
                                            <table class="side-table">
                                                <tr>
                                                    <td class="text-common-1">Site Fee</td>
                                                    <td class="text-common-3">{{ 400 | currency:"&#8369"}}(members: {{ 240 | currency:"&#8369"}})</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-2">Amenities</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-1">Wifi</td>
                                                    <td class="text-common-3">250.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-1">Pool</td>
                                                    <td class="text-common-3">250.00</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-2">Add Ons</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-1">GrabCar</td>
                                                    <td class="text-common-3">{{ payment.grabCarFee | currency:"&#8369" }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-4"><span class="code">CODE: </span>{{ formFields.grabCar.key }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-1">SkyEye</td>
                                                    <td class="text-common-3">{{ payment.skyEyeFee | currency:"&#8369" }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-common-1">Total</td>
                                                    <td class="text-common-3">{{ payment.total | currency:"&#8369" }}</td>
                                                </tr>

                                            </table>
                                        </section>
                                        
                                    </section>
                                </section>
                          </section>
                      </section>
                  </section>
              </section>
         </section> 