<!-- <section class="customer-info" ng-show="tabBook==1">
  <flash:messages class="slide-down"></flash:messages>
    <section class="step-container"><h3 class="headline">Guest Details</h3></section>
    <form name="stepOne">
      <input class="input" placeholder="Full Name" ng-model="formFields.name" type="text" floating-label required>
      <input class="input" placeholder="Email" ng-model="formFields.email" type="text" floating-label required> 
      <input class="input" placeholder="Contact #" ng-model="formFields.contact_no" type="text" floating-label required>
      <input class="input" placeholder="Expected Guest" ng-model="formFields.expected_guest" type="text" floating-label required>
      <section class="input datepicker-input">
        <input type="text" name="first" class="form-control" placeholder="Date" datepicker-popup='yyyy/MM/dd' ng-model="dates.original_date" is-open="opened.first" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" disabled="" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event, 'first')"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
      </section>
    </form>
    
    <button type="submit" class="btn btn-proceed" ng-disabled="stepOne.$invalid" ng-click="setTabBook(2)">Continue to Amenities</button>
</section> -->

<section class="working-body" ng-show="tabBook==1">
        <section class="row content-main">

            <section class="col-lg-12 col-md-12">

                <section class="row">
                    <section class="col-lg-12 col-md-12">
                        <h3 class="sub-text-header">Guest Details</h3>
                    </section>
                </section>
             
                <section class="row form-section">
                    <form name="formStepOne" novalidate>
                        <section class="col-lg-12 col-md-12">
                            <section class="section-field">
                                <label for="">FULL NAME</label><br>
                                <section ng-show="errorMessageFormOne && formStepOne.name.$valid==false">*required</section>
                                <input name="name" type="text" placeholder="Write your fullname here" ng-model="formFields.name" required>
                            </section>

                            <section class="section-field">
                                <label for="">EMAIL</label><br>
                                <section ng-show="errorMessageFormOne && formStepOne.email.$valid==false">*required</section>
                                <input name="email" type="email" placeholder="Your email here" ng-model="formFields.email" required>
                            </section>

                            <section class="section-field">
                                <label for="">CONTACT #</label><br>
                                <section ng-show="errorMessageFormOne && formStepOne.contact.$valid==false">*required</section>
                                <input name="contact" type="text" placeholder="Your contact #" ng-pattern="/(?:(?:^63)|(?:^0))\d{10}$/" ng-model="formFields.contact_no" required>
                            </section>

                            <section class="section-field">
                                <label for="">EXPECTED GUEST</label><br>
                                <section ng-show="errorMessageFormOne && formStepOne.guest.$valid==false">*required</section>
                                <input name="guest" type="number" placeholder="Number of expected guest" ng-model="formFields.expected_guest" required>
                            </section>

                            <section class="section-field">
                                <label for="">DATE</label><br>
                                <section ng-show="errorMessageFormOne && formStepOne.date.$valid==false">*required</section>
                                <input name="date" type="text" name="first" class="form-control" placeholder="Choose a date" ng-model="dates.original_date" ng-required="true" disabled="" />
                                <date-picker ng-model="dates.original_date" ng-show="datepicker"></date-picker>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </section>
                        </section>
                    </form>
                </section>

            </section>
        </section>

        <section class="row">
            <section class="col-lg-12 col-md-12">
                <section class="row container-continue-btn">
                    <section class="col-lg-12 col-md-12">
                        <button class="btn-continue" ng-disabled="formStepOne.$valid!=true" ng-click="setTabBook(2)">Continue to Aminities</button>
                    </section>
                </section>
            </section>
        </section>
    </section>