<!-- <section class="payment-method" ng-show="tabBook==4">
  <a href="javascript:demoFromHTML()" class="button">Download pdf</a>
  <div pdf ng-show="false" venues="venue" form-field="formFields"></div>
  <section class="step-container"><section class="step">4</section><h3 class="headline">
    Payment Method
  </h3></section>
   
  <p>See instruction on how to pay after clicking the "Book Venue" button</p>
  
  <section book-venue-button></section>
</section>  -->

	<section class="working-body" ng-show="tabBook==4">
        <section class="row content-main">
            <section class="col-lg-12 col-md-12">
                <section class="row">
                    <section class="col-lg-12 col-md-12">
                        <h3 class="sub-text-header">Payment Method</h3>
                    </section>
                </section>
                <section class="row form-section">
                    <section class="col-lg-12 col-md-12">
                        <section class="steps">
                            <img src="img/steps/step-1.png" alt="">
                            <h3>Go to Bank</h3>
                            <p>Go to the nearest Bank</p>
                        </section>
                        <section class="steps"><img src="img/steps/step-2.png" alt="">
                            <h3>Fill up Deposit Slip</h3>
                            <p>Fill-in the necessary details for payment</p>
                        </section>
                        <section class="steps"><img src="img/steps/step-3.png" alt="">
                            <h3>Wait for Confirmation</h3>
                            <p>Sit back and wait for a text confirmation within 24hrs.</p>
                        </section>

                    </section>
                </section>
            </section>
        </section>

    </section>