  <section class="header">
        
        <section class="bottom-header container">
          <section class="brand"><img src="img/logo.png" alt="Otter"></section><ul class="main-nav col-xs-12 col-sm-12 col-md-7 col-lg-7">
             
             <li class="nav-items"><a href="#">SITES</a></li>
             <li class="nav-items"><a href="#">NOURISH</a></li>
             <li class="nav-items"><a href="#">LOOKBOOK</a></li>
             <li class="nav-items"><a href="#">GRATIS</a></li>
             <li class="nav-items"><a href="#">CONNECT</a></li>
           <li class="nav-items"><a href="#">Verify Payment</a></li></ul>
         
          </section>
  </section>