<section class="search-results col-lg-9">
               <h2 class="headline col-lg-12">Search for ...</h2>
               <ul class="listing unstyled col-sm-12 col-md-12 col-lg-12">
                  <error-message error-message="There are no search results" ng-show="venue"></error-message>
                  <li class="list-item col-sm-4 col-md-4 col-lg-4" dir-paginate="venue in venues | itemsPerPage: 12">
                     <img alt="Hotel" class="hotel-img" src="/img/hotel.jpg">
                     <h3 class="hotel-name">{{venue.name}}</h3>
                     <ul class="feature-list">
                        <li>Price: Php 300.00/Head</li>
                        <li>Capacity(min|max): {{venue.min_guest}} | {{venue.max_guest}}
                        </li>
                     </ul>
                     <section class="pull-out">
                        <a class="quick-view" ng-click="quickPeek()">Quick Peek</a> <a class="select-venue" ng-click="bookVenue($index, venue.id, venue)">Select
                        Venue</a>
                     </section>
                  </li>
               </ul>
               <dir-pagination-controls></dir-pagination-controls>
               <section class="search-results">
                  <section class="modal quick-view-modal" id="quick-view-details">
                     <section class="img-gallery col-lg-6">
                        <section class="preview">
                           <img alt="Large Preview" class="img" src="/img/hotel.jpg">
                        </section>
                        <section class="thumbnail">
                           <ul class="list unstyled">
                              <li class="list-item">
                                 <img alt="Thumbnail Preview" class="img" src="/img/hotel.jpg">
                              </li>
                              <li class="list-item">
                                 <img alt="Thumbnail Preview" class="img" src="/img/hotel.jpg">
                              </li>
                              <li class="list-item">
                                 <img alt="Thumbnail Preview" class="img" src="/img/hotel.jpg">
                              </li>
                           </ul>
                        </section>
                     </section>
                     <section class="info col-lg-6">
                        <h2 class="hotel-name">
                           {{venue.name}}
                        </h2>
                        <section class="details">
                           <section class="list-item">
                              <section class="label">
                                 Capacity(min|max):
                              </section>
                              <section class="value">
                                 {{venue.min_guest}} | {{venue.max_guest}}
                              </section>
                           </section>
                           <section class="list-item">
                              <section class="label">
                                 Rating:
                              </section>
                              <section class="value">
                                 4.5
                              </section>
                           </section>
                        </section>
                        <h4>
                           Features &amp; Amenities
                        </h4>
                        <ul class="feature-list unstyled">
                           <li class="list-item">Restaurant</li>
                           <li class="list-item">Private Room(s)</li>
                           <li class="list-item">Terrace</li>
                           <li class="list-item">Wifi</li>
                        </ul>
                     </section>
                  </section>
               </section>
            </section>