
        <!-- <section class="running-total">
          Site fee: <br> 
          Addons SkyEye {{skyEye | currency:"&#8369"}} GrabCar {{grabCar | currency:"&#8369"}}
          Total {{total | currency:"&#8369"}}
        </section> -->
	        <section class="venue">
	                  
	                <section class="slider-showcase">
		                <section class="main-image container">
		                    <!-- <img src="img/venue/slider.png" alt="Venue Image">
		                    <section class="venue-logo"><img src="img/venue/the-blue-leaf-logo.png" alt="The Venue Logo"></section> -->
		                    <section class="image-thumbnails">
		                    	<ul class="unstyled-list">
				                    <flex-slider slide="image in venueImage track by $index " control-nav="thumbnails" direction-nav="false" pause-play="false" start-at="0">
		
				                    		<li data-thumb="{{image}}">
				                    			<img ng-src="{{image}}">
				                    		</li>
					                   	
				                    </flex-slider>
		                        </ul>
		                	</section>
		                </section>
		                
		            </section>

		            <section class="venue-details container">
			                <section class="details-info col-lg-8">
			                    <h2 class="venue-name">The Blue Leaf Hotel: Function Hall 1</h2>
			                    
			                    <section class="description">
			                                <p class="lead">The nature’s escape from the city. lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			                                <p>
			                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			                                <p>
			                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
			                                
			                                <p>“Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”</p><section class="book-cta">
			                                <section venue-details-button></section>
			                            </section>
			                        </section>
			    			</section>
						    <section class="details-panel col-lg-4">
						        <section class="book-cta">
						            <section venue-details-button></section>
						        </section>
						        <section class="pricing panel col-lg-6">
						            <h5 class="h5">Pricing</h5>
						            <p>$$</p>
						        </section>
						        <section class="capacity panel col-lg-6">
						            <h5 class="h5">Capacity</h5>
						            <p>50 - 60 persons</p>
						        </section>
						        <section class="address panel col-lg-12">
						            <h5 class="h5">Address</h5>
						            <address>100 Park Avenue, McKinley Hill Village <br>
						                Fort Bonifacio, Taguig City<br>
						            1633 Philippines</address>

						            <section class="map gmap">
						  				<h5 class="h5">Map</h5>
						                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3862.1330879072448!2d121.05296299999999!3d14.534379!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c8c119b9277f%3A0x470546c8a1c1ddc0!2sThe+Blue+Leaf+Events+Pavilion!5e0!3m2!1sen!2sph!4v1430118957820" width="100%" height="500" frameborder="0" style="border:0"></iframe>
						            </section>
						        </section>
						    </section>
					</section>

	        </section>
