<section class="modal quick-view-modal current" id="quick-view-details" tabs>
      <section>
        <h3 ng-click="traverseBack()" form-requirements><a><-</a></h3>
        <h3 ng-click="traverseForward()" form-requirements><a>-></a></h3>
      </section>
      <h2 class="headline">Book a Venue</h2>
      <section class="steps">
        <a>
          <section ng-class="{'active':checkThis(1)} " class="step-container">
  	       <section class="step">1</section>
            <h3 class="headline">Guest Details</h3>
          </section>
        </a>

        <a>
          <section ng-class="{'active':checkThis(2)}" class="step-container">
  	       <section class="step">2</section>
            <h3 class="headline">Amenities</h3>
          </section>
        </a>

        <a>
          <section ng-class="{'active':checkThis(3)}" class="step-container">
           <section class="step">3</section>
            <h3 class="headline">Addons</h3>
            </section>
        </a>
        
        <a>
          <section ng-class="{'active':checkThis(4)}" class="step-container">
	         <section class="step">4</section>
            <h3 class="headline">Payment Method</h3>
            </section>
        </a>
	    </section>
    

      <section booking-form-container></section>

</section><!-- quick-view-modal -->