<section class="content">
        <section class="running-total">
          Site fee: <br> 
          Addons SkyEye {{skyEye | currency:"&#8369"}} GrabCar {{grabCar | currency:"&#8369"}}
          Total {{total | currency:"&#8369"}}
        </section>
	    <section class="container">
	        <section class="venue">
	                  
	                <section class="gallery">
		                <h2 class="headline">{{venuesNow.name}}</h2><img alt="Hotel" class="hotel-img" src="/img/venue.jpg">
		                <ul class="gallery-thumbnails unstyled">
		                  <li><img class="thumbs" src="http://placehold.it/50x50"></li>
		                  <li><img class="thumbs" src="http://placehold.it/50x50"></li>
		                  <li><img class="thumbs" src="http://placehold.it/50x50"></li>
		                  <li><img class="thumbs" src="http://placehold.it/50x50"></li>
		                  <li><img class="thumbs" src="http://placehold.it/50x50"></li>
		                </ul>
		                <section class="popup-container" venue-details-button></section>
	                </section>

	        </section>
	    </section>
</section>
