<div class="login jumbotron center-block">
  <h1>Member Login</h1>
  <form role="form">
  <div class="form-group">
    <label for="username">Email</label>
    <input type="text" class="form-control" ng-model="user.exp" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" ng-model="user.city_address" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default" ui-sref="index({memberExperience: user.exp, memberLocation: memberCity_address, memberGuest: user.est_guest})">Submit</button>
</form>
<a ui-sref="signup()">Click here to Signup</a>
</div>
